<div class="ue-l-article__container">
    <div class="ue-l-article__container-inner">
        <div class="ue-l-article__row">
            {% area fila_inferior_1 with {'id': 'fila_inferior_1', 'width': 12} %}
        </div>
    </div>
</div>
<div class="ue-l-article__container">
    <div class="ue-l-article__container-inner">
        <div class="ue-l-article__row">
            {% area fila_inferior_2 with {'id': 'fila_inferior_2', 'width': 12} %}
        </div>
    </div>
</div>