<div class="ue-l-common-page__box js-ueTopBars">
    <?php if ($this->isLocalidad()) : ?>
        <div class="ue-l-common-page__row ue-l-common-page__row--no-gutter">
            <div class="ue-c-elections-simple-widget">
                <h2 class="ue-c-elections-simple-widget__title">Total <?php echo $this->place['municipio']['name']; ?></h3>
                <div class="ue-c-elections-result-bars ">
                    <div class="ue-c-elections-result-bars__bar">
                        <div class="ue-c-elections-result-bars__bar-party">ND</div>
                        <div class="ue-c-elections-result-bars__bar-base">
                            <div class="ue-c-elections-result-bars__bar-over" style="width: 0.0% ; background: #333333;"></div>
                        </div>
                        <div class="ue-c-elections-result-bars__bar-percent">0%</div>
                    </div>
                </div>
            </div>
        </div>
    <?php endif; ?>
    <?php if ($this->isProvincia() || $this->isLocalidad()): ?>
        <div class="ue-l-common-page__row">
            <div class="ue-l-common-page__column ue-l-common-page--size6of12">
                <div class="ue-c-elections-simple-widget">
                    <h2 class="ue-c-elections-simple-widget__title">Total Provincia de <?php echo $this->place['provincia']['name']; ?></h3>
                    <div class="ue-c-elections-result-bars ">
                        <div class="ue-c-elections-result-bars__bar">
                            <div class="ue-c-elections-result-bars__bar-party">ND</div>
                            <div class="ue-c-elections-result-bars__bar-base">
                                <div class="ue-c-elections-result-bars__bar-over" style="width: 0.0% ; background: #333333;"></div>
                            </div>
                            <div class="ue-c-elections-result-bars__bar-percent">0%</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ue-l-common-page__column ue-l-common-page--size6of12">
                <div class="ue-c-elections-simple-widget">
                    <h2 class="ue-c-elections-simple-widget__title">Total <?php echo $this->place['comunidad']['name']; ?></h3>
                    <div class="ue-c-elections-result-bars ">
                        <div class="ue-c-elections-result-bars__bar">
                            <div class="ue-c-elections-result-bars__bar-party">ND</div>
                            <div class="ue-c-elections-result-bars__bar-base">
                                <div class="ue-c-elections-result-bars__bar-over" style="width: 0.0%; background-color: #333333;"></div>
                            </div>
                            <div class="ue-c-elections-result-bars__bar-percent">0%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <?php endif; ?>
    <?php if ($this->isComunidad()): ?>
        <div class="ue-l-common-page__row ue-l-common-page__row--no-gutter">
            <div class="ue-c-elections-simple-widget">
                <h2 class="ue-c-elections-simple-widget__title">Total <?php echo $this->place['comunidad']['name']; ?></h3>
                <div class="ue-c-elections-result-bars ">
                    <div class="ue-c-elections-result-bars__bar">
                        <div class="ue-c-elections-result-bars__bar-party">ND</div>
                        <div class="ue-c-elections-result-bars__bar-base">
                            <div class="ue-c-elections-result-bars__bar-over" style="width: 0.0% ; background: #333333;"></div>
                        </div>
                        <div class="ue-c-elections-result-bars__bar-percent">0%</div>
                    </div>
                </div>
            </div>
        </div>
    <?php endif; ?>
</div>
<?php if (!$this->isLocalidad()): ?>
    <div class="ue-l-common-page__box js-ueSeatsBars">
        <div class="ue-c-elections-simple-widget">
            <h2 class="ue-c-elections-simple-widget__title">Esca&ntilde;os</h2>
            <div class="ue-l-common-page__box">
                <div class="ue-l-common-page__row">
                    <div class="ue-l-common-page__column ue-l-common-page--size6of12">
                        <div class="ue-c-elections-result-bars ">
                            <h2 class="ue-c-elections-result-detail__subtitle"><?php echo $this->getActualLabel(); ?></h3>
                            <div class="ue-c-elections-result-bars__bar">
                                <div class="ue-c-elections-result-bars__bar-party">ND</div>
                                <div class="ue-c-elections-result-bars__bar-base">
                                    <div class="ue-c-elections-result-bars__bar-over" style="width: 0.0% ; background: #333333;"></div>
                                </div>
                                <div class="ue-c-elections-result-bars__bar-percent">0%</div>
                            </div>
                        </div>
                    </div>
                    <div class="ue-l-common-page__column ue-l-common-page--size6of12">
                        <div class="ue-c-elections-result-bars ">
                            <h2 class="ue-c-elections-result-detail__subtitle"><?php echo $this->getPastLabel(); ?></h3>
                            <div class="ue-c-elections-result-bars__bar">
                                <div class="ue-c-elections-result-bars__bar-party">ND</div>
                                <div class="ue-c-elections-result-bars__bar-base">
                                    <div class="ue-c-elections-result-bars__bar-over" style="width: 0.0% ; background: #333333;"></div>
                                </div>
                                <div class="ue-c-elections-result-bars__bar-percent">0%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<?php endif; ?>
<div class="ue-l-common-page__box js-ueVowsBars">
    <div class="ue-c-elections-simple-widget">
        <h2 class="ue-c-elections-simple-widget__title">Votos</h2>
        <div class="ue-l-common-page__box">
            <div class="ue-l-common-page__row">
                <div class="ue-l-common-page__column ue-l-common-page--size6of12">
                    <div class="ue-c-elections-result-bars ">
                        <h2 class="ue-c-elections-result-detail__subtitle"><?php echo $this->getActualLabel(); ?></h3>
                        <div class="ue-c-elections-result-bars__bar">
                            <div class="ue-c-elections-result-bars__bar-party">ND</div>
                            <div class="ue-c-elections-result-bars__bar-base">
                                <div class="ue-c-elections-result-bars__bar-over" style="width: 0.0% ; background: #333333;"></div>
                            </div>
                            <div class="ue-c-elections-result-bars__bar-percent">0%</div>
                        </div>
                    </div>
                </div>
                <div class="ue-l-common-page__column ue-l-common-page--size6of12">
                    <div class="ue-c-elections-result-bars ">
                        <h2 class="ue-c-elections-result-detail__subtitle"><?php echo $this->getPastLabel(); ?></h3>
                        <div class="ue-c-elections-result-bars__bar">
                            <div class="ue-c-elections-result-bars__bar-party">ND</div>
                            <div class="ue-c-elections-result-bars__bar-base">
                                <div class="ue-c-elections-result-bars__bar-over" style="width: 0.0% ; background: #333333;"></div>
                            </div>
                            <div class="ue-c-elections-result-bars__bar-percent">0%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ue-l-common-page__box js-ueResultBars">
    <div class="ue-c-elections-simple-widget">
        <h2 class="ue-c-elections-simple-widget__title">Resultados por partido</h3>
        <div class="ue-l-common-page__box">
            <div class="ue-l-common-page__row">
                <div class="ue-l-common-page__column ue-l-common-page--size6of12"></div>
                <div class="ue-l-common-page__column ue-l-common-page--size6of12"></div>
            </div>
        </div>
    </div>
</div>
<div class="ue-l-common-page__box js-ueDataBars">
    <div class="ue-c-elections-simple-widget">
        <h2 class="ue-c-elections-simple-widget__title">Datos Generales</h3>
        <div class="ue-l-common-page__box">
            <div class="ue-l-common-page__row">
                <div class="ue-l-common-page__column ue-l-common-page--size6of12-from-mobile">
                    <div class="ue-l-common-page__box">
                        <h2 class="ue-c-elections-result-detail__subtitle"><?php echo $this->getActualLabel(); ?></h3>
                    </div>
                </div>
                <div class="ue-l-common-page__column ue-l-common-page--size6of12-from-mobile">
                    <div class="ue-l-common-page__box">
                        <h2 class="ue-c-elections-result-detail__subtitle"><?php echo $this->getPastLabel(); ?></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>