<div class="ue-l-common-page__box js-ueElecctionsData"
	 data-device="<?php echo $this->format; ?>"
	 <?php echo $this->getDataAttributes(); ?>
	 >

	<div class="ue-l-common-page__row">
    	<div class="ue-l-common-page__column ue-l-common-page--size8of12">
        	<div class="ue-c-elections-result-detail">
        		<h2 class="ue-c-elections-result-detail__kicker"><?php echo $this->getKicker(); ?></h2>
        		<h1 class="ue-c-elections-result-detail__headline"><?php echo $this->getHeadLine(); ?></h1>
        		<?php echo $this->getBreadcrumb(); ?>
        		<?php echo $this->getFinder(); ?>
        		<?php echo $this->getTabs(); ?>
        	</div>
        </div>
    </div>
</div>