<form   id="form" 
        class="ue-c-elections-search-form js-ueElecctionsAutocomplete"
        data-type="<?php echo $this->type; ?>" 
        data-year="<?php echo $this->year; ?>" 
        autocomplete="off" 
        action="">
    <div class="ue-c-elections-search-form__search-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" role="img" aria-hidden="true">
            <path fill="#FFF" fill-rule="nonzero" d="M18.344 17.941l-4.375-4.374a7.643 7.643 0 0 0 1.884-5.033C15.853 4.3 12.408.86 8.177.86 3.94.86.5 4.304.5 8.534s3.445 7.675 7.677 7.675c1.924 0 3.684-.71 5.034-1.884l4.375 4.375c.104.103.243.16.38.16a.54.54 0 0 0 .38-.918zM1.574 8.534a6.605 6.605 0 0 1 6.599-6.597 6.605 6.605 0 0 1 6.598 6.597c0 3.636-2.958 6.602-6.598 6.602-3.637 0-6.6-2.962-6.6-6.602z"></path>
        </svg>
    </div>
    <label class="hidden-content" for="ID_INPUT">Buscar</label>
    <input id="ID_INPUT" placeholder="Busca tu municipio o provincia" title="Busca tu municipio o provincia" class="ue-c-elections-search-form__text-input" type="text" name="">
    <button class="ue-c-elections-search-form__submit-button" type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" role="img" aria-hidden="true">
            <g fill="none" fill-rule="evenodd" stroke="#51506A">
                <path d="M0 8.6h15.97M8 0l8.433 8.433L8 16.866"></path>
            </g>
        </svg>
        <span class="hidden-content">Buscar</span>
    </button>
    <div id="js-lista_elecciones" class="ue-c-elections-search-form__autocomplete-items js-container"></div>
</form>