<header class="super-menu-header js-cnav-header <?php echo $params['header_theme']; ?> inside" data-menu-nivel="home" >
    <?php
        $sectionSeccion = $params['section'];
        $static_registro_path = $params['filer_path'].$params['static_registro_path'];
        @include($header);
    ?>
    <div class="breadcrumbs">
        <div class="container-header">
            <?php
                @include($breadcrumb);
            ?>
            <div class="tab-news">
                <span class="tab-news-title js-newsTitle"></span>
                <aside class="aside-tools">
                    <ul class="socialMedia js_socialMedia">
                        <li>
                            <i class="icon-facebook icon-facebook_36_d js-icon-facebook"></i><span class="hidden-content">Facebook</span>
                        </li>
                        <li>
                            <i class="icon-twitter icon-twitter_36_d js-icon-twitter"></i><span class="hidden-content">Twitter</span>
                        </li>
                    </ul>
                </aside>
                <div class="percentage-bar-container">
                    <div class="percentage-bar" id="js_progressBar"></div>
                </div>
            </div>
        </div>
    </div>
    <?php
        @include($superMenu);
    ?>
</header>
<script type="text/javascript">
    var primary = document.querySelector('.ue-c-main-header__primary');
    primary.style.display = 'none';
    var nav = document.querySelector('.ue-c-main-header__nav');
    nav.style.display = 'none';
</script>