<ul class="ue-c-article__byline ue-c-article__byline--boxed" aria-label="Redacción:">
	<li class="ue-c-article__byline-item ue-l-article--direction-column-from-desktop ue-l-article--direction-row-from-mobile">
		<div class="ue-c-article__byline-name">
			<a href="https://www.elmundo.es/social/usuarios/olgarsanmartin/">OLGA R. SANMARTÍN</a>
		</div>
		<div class="ue-c-article__byline-social">
			<a href="https://twitter.com/olgarsanmartin">@olgarsanmartin</a>
		</div>
		<div class="ue-c-article__byline-location">Madrid</div>
	</li>
</ul>